language: ruby
rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - ruby-head
  - rbx
matrix:
  allow_failures:
    - rvm: rbx
before_install:
  - gem update bundler
script: bundle exec rspec spec
cache: bundler
