name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.2.6'
          - '3.3.7'
          - '3.4.2'
          #, 'jruby-head'
        os:
          - ubuntu
          - windows
          - macos
    steps:
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.278.0
        with:
          ruby-version: ${{ matrix.ruby }}
      - uses: actions/checkout@v6
      - name: Install dependecies
        run: bundle install
      - name: Run Tests
        run: ./run_tests.sh
        shell: bash

  auto-merge:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
      - name: auto-merge
        if: |
          github.actor == 'dependabot[bot]' &&
          github.event_name == 'pull_request'
        run: |
          gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          # this secret needs to be in the settings.secrets.dependabot
          GITHUB_TOKEN: ${{secrets.GH_ACTION_TOKEN}}
